.section-3{
    width: 100%;
    height: 100vh;
    background: white;
    margin-top: 50px;
    
    display: inline-flex;


    .icon{
        img{
            background: green;
            width: 30px;
            padding: 5px;
            height: 30px;
            margin-top: 50px;
        }
    }
    
    .wing3{
        img{
            width: 495px;
            height: 279px;
            padding: 30px;
            background-color: #F7FFEC;
        }
    }
    .icon{
        p{
            margin-left: 40px;
            margin-top: -40px;
            font-size: 15px;
            font-family: sans-serif;
            color: #6B7466;
        }
    }
        .right-menu{
            h1{
                font-size: 50px;
                margin-left: 150px;
            }
        
            
        }
        .right-menu{
            img{
                margin-left: 150px;
                margin-top: 40px;
                background:#F7FFEC;
                padding: 70px 10px;
            }
        }
     
    }